--
-- PostgreSQL database dump
--

\restrict JxseAwNeJeV5oBM2NPa3ZERrrru6bkah1olQ7l9lErVbOZ0NCWVa4vBQAP3JaRL

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: input_controls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.input_controls (
    id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    sensor_data_id integer,
    u1 double precision,
    u2 double precision,
    u3 double precision,
    u4 double precision,
    u5 double precision,
    u6 double precision,
    u7 double precision,
    u8 double precision,
    u9 double precision,
    u10 double precision,
    u11 double precision
);


ALTER TABLE public.input_controls OWNER TO postgres;

--
-- Name: input_controls_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.input_controls_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.input_controls_id_seq OWNER TO postgres;

--
-- Name: input_controls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.input_controls_id_seq OWNED BY public.input_controls.id;


--
-- Name: sensor_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sensor_data (
    id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    xmeas_1 double precision,
    xmeas_2 double precision,
    xmeas_3 double precision,
    xmeas_4 double precision,
    xmeas_5 double precision,
    xmeas_6 double precision,
    xmeas_7 double precision,
    xmeas_8 double precision,
    xmeas_9 double precision,
    xmeas_10 double precision,
    xmeas_11 double precision,
    xmeas_12 double precision,
    xmeas_13 double precision,
    xmeas_14 double precision,
    xmeas_15 double precision,
    xmeas_16 double precision,
    xmeas_17 double precision,
    xmeas_18 double precision,
    xmeas_19 double precision,
    xmeas_20 double precision,
    xmeas_21 double precision,
    xmeas_22 double precision,
    xmeas_23 double precision,
    xmeas_24 double precision,
    xmeas_25 double precision,
    xmeas_26 double precision,
    xmeas_27 double precision,
    xmeas_28 double precision,
    xmeas_29 double precision,
    xmeas_30 double precision,
    xmeas_31 double precision,
    xmeas_32 double precision,
    xmeas_33 double precision,
    xmeas_34 double precision,
    xmeas_35 double precision,
    xmeas_36 double precision,
    xmeas_37 double precision,
    xmeas_38 double precision,
    xmeas_39 double precision,
    xmeas_40 double precision,
    xmeas_41 double precision
);


ALTER TABLE public.sensor_data OWNER TO postgres;

--
-- Name: sensor_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sensor_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sensor_data_id_seq OWNER TO postgres;

--
-- Name: sensor_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sensor_data_id_seq OWNED BY public.sensor_data.id;


--
-- Name: input_controls id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_controls ALTER COLUMN id SET DEFAULT nextval('public.input_controls_id_seq'::regclass);


--
-- Name: sensor_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sensor_data ALTER COLUMN id SET DEFAULT nextval('public.sensor_data_id_seq'::regclass);


--
-- Data for Name: input_controls; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sensor_data; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: input_controls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.input_controls_id_seq', 1280, true);


--
-- Name: sensor_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sensor_data_id_seq', 1412, true);


--
-- Name: input_controls input_controls_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_controls
    ADD CONSTRAINT input_controls_pkey PRIMARY KEY (id);


--
-- Name: sensor_data sensor_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sensor_data
    ADD CONSTRAINT sensor_data_pkey PRIMARY KEY (id);


--
-- Name: idx_input_controls_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_input_controls_timestamp ON public.input_controls USING btree ("timestamp");


--
-- Name: idx_sensor_data_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sensor_data_timestamp ON public.sensor_data USING btree ("timestamp");


--
-- Name: input_controls input_controls_sensor_data_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_controls
    ADD CONSTRAINT input_controls_sensor_data_id_fkey FOREIGN KEY (sensor_data_id) REFERENCES public.sensor_data(id);


--
-- PostgreSQL database dump complete
--

\unrestrict JxseAwNeJeV5oBM2NPa3ZERrrru6bkah1olQ7l9lErVbOZ0NCWVa4vBQAP3JaRL

